<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


  <settings>
    <setting name="cacheEnabled" value="true"/>
    <setting name="defaultStatementTimeout" value="3000"/>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="useGeneratedKeys" value="true"/>
  </settings>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.245.220:3306/cjs_ssm_master?useUnicode=true&amp;characterEncoding=utf8"/>
        <property name="username" value="cjs_ssm_master"/>
        <property name="password" value="Yqqlm!Gs1cl$"/>
      </dataSource>
    </environment>
  </environments>

  <!--非spring 项目配置 mybatis未提供ant路径通配符,spring提供了。所以这里只能一个一个添加映射文件-->
<!--
  <mappers>
    <mapper resource="mapping/UserRolePermissionDao.xml"/>
    <mapper resource="mapping/UserMapper.xml"/>
  </mappers>
-->




</configuration>