<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!--https://github.com/pagehelper/Mybatis-PageHelper/blob/master/wikis/en/HowToUse.md-->

  <!--javaAPI 调用mybatis配置使用,项目中通过spring进行配置-->
  <settings>
    <setting name="cacheEnabled" value="true"/>
    <setting name="lazyLoadingEnabled" value="false"/>
    <setting name="aggressiveLazyLoading" value="true"/>
  </settings>

  <typeAliases>
    <typeAlias type="com.chengjs.cjsssmsweb.mybatis.pojo.master.UUser"/>
    <!--<package name="com.chengjs.cjsssmsweb.mybatis.pojo.master"/>-->
  </typeAliases>

<!--
  <plugins>
    <plugin interceptor="">
      <property name="IDENTITY" value="MYSQL" />
      <property name="mappers" value="tk.mybatis.mapper.common.Mapper" />
    </plugin>
  </plugins>
-->

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC">
        <property name="" value=""/>
      </transactionManager>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://192.168.245.220:3306/cjs_ssm_master?useUnicode=true&amp;characterEncoding=utf8"/>
        <property name="username" value="cjs_ssm_master"/>
        <property name="password" value="Yqqlm!Gs1cl$"/>
      </dataSource>
    </environment>
  </environments>

  <!--非spring 项目配置 mybatis未提供ant路径通配符,spring提供了。所以这里只能一个一个添加映射文件-->
  <mappers>
    <!--<mapper resource="mapping/UserRolePermissionDao.xml"/>-->
    <mapper resource="mapping/master/UUserMapper.xml"/>
  </mappers>


</configuration>