<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <!--http://www.mybatis.org/mybatis-3/configuration.html
      http://www.mybatis.org/mybatis-3/zh/configuration.html-->
  <settings>
    <!--一级缓存默认开启,这里是配置二级缓存,二级缓存存储介质不限于内存,介质多样,此时Pojo需要实现Serializable
      http://blog.csdn.net/fjnmbb12/article/details/73692364 EhCache -->
    <setting name="cacheEnabled" value="false"/>
    <setting name="lazyLoadingEnabled" value="true"/>
    <setting name="multipleResultSetsEnabled" value="true"/>
    <setting name="useColumnLabel" value="true"/>
    <setting name="useGeneratedKeys" value="false"/>
    <setting name="autoMappingBehavior" value="PARTIAL"/>
    <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
    <setting name="defaultExecutorType" value="SIMPLE"/>
    <setting name="defaultStatementTimeout" value="25"/>
    <setting name="safeRowBoundsEnabled" value="false"/>
    <setting name="mapUnderscoreToCamelCase" value="false"/>
    <setting name="localCacheScope" value="SESSION"/>
    <setting name="jdbcTypeForNull" value="OTHER"/>
    <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
  </settings>

  <!--https://github.com/pagehelper/Mybatis-PageHelper/blob/master/wikis/en/HowToUse.md-->
  <plugins>
    <plugin interceptor="com.github.pagehelper.PageInterceptor">

      <property name="offsetAsPageNum" value="true"/><!--default false-->
      <property name="rowBoundsWithCount" value="false"/><!--default false-->
      <property name="pageSizeZero" value="true"/><!--pageSize=0 || RowBounds.limit = 0 => select all-->
      <property name="reasonable" value="true"/><!--default false, -->

      <!-- 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 -->
      <!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,orderBy,不配置映射的用默认值 -->
      <!-- 不理解该含义的前提下，不要随便复制该配置 -->
      <property name="params" value="pageNum=pageNum;pageSize=limit;"/>
      <property name="supportMethodsArguments" value="true"/><!-- 支持通过Mapper接口参数来传递分页参数 -->

      <!-- always总是返回PageInfo类型,check检查返回类型是否为PageInfo,none返回Page -->
      <property name="returnPageInfo" value="check"/>
    </plugin>
  </plugins>

  <!-- PageHelper
    https://github.com/pagehelper/Mybatis-PageHelper
    http://blog.csdn.net/qq_32715873/article/details/54016797?locationNum=10&fps=1  参数配置及mybatis分页案例
    https://github.com/pagehelper/Mybatis-PageHelper/blob/master/wikis/zh/Important.md  重要提示
  -->

  <!--
      In the configuration file,
      plugins location must meet the requirements as the following order:
      properties?, settings?,
      typeAliases?, typeHandlers?,
      objectFactory?,objectWrapperFactory?,
      plugins?,
      environments?, databaseIdProvider?, mappers?

      此处的PageInterceptor和spring中mybatis配置设置此参数只能二选一
  -->

</configuration>